h1,h2
{
	font-family:georgia,serif; 
	color:#ffcc33;
	text-align:center;
	background-color:#ee3e80;
}

h3
{
	background-color:#007ba7;
	margin-left:0 auto;
	text-align:left;
	color:#99E6B3;
	font-size:20pt;

}

body
{
	width:960px;
	margin:0 auto;
	padding:10px;
	background:url('lightbackground.jpg') center transparent;
	overflow: auto;
}

blockquote
{
	float:right;
	font-family: georgia,times,serif;
	width:275pt;
	color:black;
	font-weight:bold;
	font-size:20px;
	font-style:italic;
	margin:5px;
	padding:0em;
	border-top: 5px dotted #665544;
	border-bottom: 5px dotted #665544 

}



dl, ul li 
{
	color:black;
	font-family:georgia,times,serif;
	font-size:13pt;
	
}


nav li
{
	list-style-type: none;
	background-color:#e3dac9;
	padding:0em;
	margin:20px;
	display:inline;
	font-size:14pt;
}

#ending
{
	background-color:#007ba7;
	margin-left:0 auto;
	text-align:left;
	color:#99E6B3;
	font-size:20pt;
	clear:both;
}

#mainhead
{
background-color:#e3dac9;
}

#resourceline,
{
	text-align:center;

}

#title
{
	font-size:40pt;
	color:black;
	background:#5D8AA8; 
	font-style:Times;

}


#myth
{
	float:left;
	width:&;
	margin:0 auto;
	padding:1em;
}

#globe
{
	float:left;
	width:&;
	margin:0 auto;
	padding:1em;
}

#benefit
{
	float:left;
	margin:0 auto;
	padding:1em;

}

#health
{
	float:right;
	width:&;
	margin:0 auto;
	padding:1em;
}